<a href="https://colab.research.google.com/github/MuthuRajan06/Lets-upgrade-python-course/blob/master/Day3_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ht=int(input('Enter the altitude :'))
 
if(ht<=1000):
    print('Safe to land')
elif ht>1000 and ht<=5000:
    print('Bring down to 1000')
else:
    print('Turn around')

Enter the altitude :4500
Bring down to 1000

In [ ]:
 
a=2
print(a ,', ',end='')
for i in range(3,200,2):
    f=0
    for j in range(2,i):
        if(i%j == 0):
            f=1
    if(f==0):
        print(i,', ',end='')

2 , 3 , 5 , 7 , 11 , 13 , 17 , 19 , 23 , 29 , 31 , 37 , 41 , 43 , 47 , 53 , 59 , 61 , 67 , 71 , 73 , 79 , 83 , 89 , 97 , 101 , 103 , 107 , 109 , 113 , 127 , 131 , 137 , 139 , 149 , 151 , 157 , 163 , 167 , 173 , 179 , 181 , 191 , 193 , 197 , 199 ,

In [ ]:
import math
f=0
for i in range(1042000,702648265):
    
    len=0
    val=0
    
    temp=i
 
    while(int(temp)!=0):        
        len+=1
        temp/=10
 
    temp=i
 
    while(int(temp)!=0):        
        x=temp%10
        val=val+(x**len)
        temp/=10
 
       
    if(i==val):
         f=1
         print(i) 
         break
if(f==0):
    print('Not found')